---
---

/*
 * Global
 * Layout October 2017
 * ---------------------------------------------------------- */

// fonts
$sans-font-stack: system, -apple-system, BlinkMacSystemFont, "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
$mono-font-stack: "SFMono-Regular", "Source Sans Pro", Consolas, "Liberation Mono", Menlo, Courier, monospace;

// colors
$link-color:       #427dc4;
$link-hover-color: #35689e;

// type
$strong-color:    #2c3e50;

body {
    font-family: $sans-font-stack;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #666;
    background-color: #fff;
    margin: 0;
}

body.docs {
    padding-top: 61px;
}

@media screen and (max-width: 900px) {
    body.docs {
        padding-top: 0;
    }
}

/*
 * Elements
 * ---------------------------------------------------------- */
a,
a:visited {
    text-decoration: none;
    color: $link-color;
}

a:hover,
a:active {
    color: $link-hover-color;
}


img {
    border: none;
}

h1,
h2,
h3,
h4,
strong {
    font-weight: 600;
    color: $strong-color;
}
code,
pre,
kbd {
    font-family: $mono-font-stack;
    font-size: 14px;
    background-color: #f5f7f7;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
}
code, kbd {
    color: #e96900;
    padding: 4px 6px;
    border-radius: 2px;
}
em {
    color: $strong-color;
}
p {
    word-spacing: 0.05em;
}



/*
 * Buttons
 * ---------------------------------------------------------- */

.Button {
    padding: 0.7em 1.7em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #62c462;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #62c462;
    font-size: 15px;
}
.Button.Button--outlined {
    background: transparent;
    border: 1px solid #449FD8;
    color: #449FD8;

    &:hover {
        color: #fff;
    }
}
.Button--small {
    font-size: 12px;
    padding: 0.3em 1em;
}
// .Button--blue {
//     border: 1px solid #449FD8;
//     color: #449FD8;
// }
.Button--app {
    font-weight: bolder;
    background-size: 15px !important;
    background: #62c462 url('/images/ui/external.svg') no-repeat 12px 8px;
    padding-left: 32px;

    &:hover {
        color: #fff;
    }
}








/*
 * main
 * ---------------------------------------------------------- */
.Main {
    position: relative;
    z-index: 1;
    padding: 0 60px 30px;
    overflow-x: hidden;
}

/*
 * Nav
 * ---------------------------------------------------------- */
.Header-nav .nav-link {
    font-size: 16px;
    font-weight: 500;
}
.Header-nav .nav-dropdown-container .nav-link:hover:not(.current) {
    border-bottom: none;
}
.Header-nav .nav-dropdown-container:hover .nav-dropdown {
    display: block;
}
.Header-nav .nav-dropdown-container .arrow {
    pointer-events: none;
}
.Header-nav .nav-dropdown {
    box-sizing: border-box;
    display: none;
    max-height: calc(100vh - 61px);
    min-width: 210px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    right: -10px;
    background-color: #fff;
    padding: 10px 0;
    border: 1px solid #ddd;
    border-bottom-color: #ccc;
    text-align: left;
    border-radius: 4px;
    white-space: nowrap;
}
.Header-nav .nav-dropdown li {
    line-height: 1.8em;
    margin: 0;
    display: block;
}
.Header-nav .nav-dropdown li > ul {
    padding-left: 0;
}
.Header-nav .nav-dropdown li:first-child h4 {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}
.Header-nav .nav-dropdown a,
.Header-nav .nav-dropdown h4 {
    color: #000;
    font-size: 14px;
    padding: 0 24px 0 20px;
}
.Header-nav .nav-dropdown h4 {
    margin: 0.45em 0 0;
    padding-top: 0.45em;
    border-top: 1px solid #eee;
}
.Header-nav .nav-dropdown a {
    color: #3a5169;
    font-size: 0.9em;
    display: block;
}
.Header-nav .nav-dropdown a:hover {
    color: #427dc4;
}
.Header-nav .arrow {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 6px;
    margin-right: -14px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #ccc;
}

/* icon menus */
/* space for the icons */
.nav-link--icon  {
    padding-left: 44px !important;
}

/* product icons - positioning in menu */
#nav-link-rails {
    background:  transparent url('/images/ui/ruby_logo.svg') no-repeat 18px 9px;
    background-size: 14px;
}
#nav-link-node {
    background:  transparent url('/images/ui/node_logo.svg') no-repeat 18px 6px;
    background-size: 14px;
}
#nav-link-skycap {
    background:  transparent url('/images/ui/skycap_logo.svg') no-repeat 18px 8px;
    background-size: 14px;
}
#nav-link-meastro {
    background:  transparent url('/images/ui/maestro_logo.svg') no-repeat 18px 8px;
    background-size: 14px;
}
#nav-link-docker {
    background:  transparent url('/images/ui/docker_logo.svg') no-repeat 18px 8px;
    background-size: 15px;
}
/* sidebar - sticky product headers */
#skycap-product-heading {
    background:  transparent url('/images/ui/skycap_logo.svg') no-repeat 0 2px;
    background-size: 18px;
    padding-left: 24px;
}
#maestro-product-heading {
    background:  transparent url('/images/ui/maestro_logo.svg') no-repeat 0 2px;
    background-size: 16px;
    padding-left: 24px;
}
#rails-product-heading {
    background:  transparent url('/images/ui/ruby_logo.svg') no-repeat 0 4px;
    background-size: 16px;
    padding-left: 24px;
}
#node-product-heading {
    background:  transparent url('/images/ui/node_logo.svg') no-repeat 0 2px;
    background-size: 16px;
    padding-left: 24px;
}
#legacy_docker-product-heading {
    background:  transparent url('/images/ui/docker_logo.svg') no-repeat 0 4px;
    background-size: 18px;
    padding-left: 24px;
}

/*
 * Header
 * ---------------------------------------------------------- */
.Header {
    background-color: rgba(255,255,255,0.96);
    box-shadow: inset 0px 0px 0px 1px #EFEFEF, 1px 1px 6px;
    height: 40px;
    padding: 16px 40px;
    position: relative;
    z-index: 2;
}
body.docs .Header {
    position: fixed;
    width: 100%;
    top: 0;
}
body.docs #nav {
    position: fixed;
}

.Header-search {
    position: absolute;
    right: 160px;
    top: 18px;
}

.Header--minified {

}

/*
 * Nav
 * ---------------------------------------------------------- */
.Header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 100px;
    top: 15px;
    height: 40px;
    line-height: 40px;
}
.Header-nav .break {
    display: none;
}
.Header-nav li {
    display: inline-block;
    position: relative;
    margin: 0 0.8em;
}
.Header-nav .nav-dropdown .nav-link:hover,
.Header-nav .nav-dropdown .nav-link.current {
    border-bottom: none;
}
.Header-nav .nav-dropdown .nav-link.current::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid #42b983;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: 8px;
}
.nav-link {
    color: #427dc4;
    padding-bottom: 16px;
}
.nav-link-title {
    font-weight: 500;
    color: #2c3e50;
}
.Header-nav li:first-child .nav-link {
    padding-left: 0;
}
.nav-link:hover {
}
.nav-link.current {
    font-weight: bold;
    color: #2c3e50;
}
.nav-community .nav-link {
    margin-left: 10px;
}

#NavSub {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 30px;
    top: 10px;
    height: 40px;
    line-height: 40px;
}

/*
 * Search Fields
 * Note - this makes use of and overrides some classes used injected by the instantsearch.js widget
 * https://www.algolia.com/doc/tutorials/search-ui/instant-search/build-an-instant-search-results-page/instantsearchjs/
 */
.ais-search-box--input,
.search {
    height: 34px;
    line-height: 30px;
    box-sizing: border-box;
    box-shadow: none !important;
    padding: 0 15px 0 30px;
    border: 1px solid #e3e3e3;
    color: #2c3e50;
    outline: none;
    border-radius: 15px;
    margin-right: 10px;
    transition: border-color 0.2s ease;
    background: #fff url("/images/ui/search.png") 8px 7px no-repeat;
    background-size: 20px;
    vertical-align: middle !important;
    min-width: 300px;
}
.ais-search-box--input:focus,
.search:focus {
    border-color: #427dc4 !important;
}

/*
 * Algolia instant search widget
 */
/* search box */
.ais-search-box .ais-search-box--magnifier {
    display: none !important;
}
.ais-search-box .ais-search-box--reset {
    top: 12px !important;
    right: 14px;
}
.ais-hits a:hover {
    color: #244a6d !important;
}
.ais-hits__empty {
    font-size: 12px;
}

/*
    search results generated by Algolia instant search widget
    Search within global nav
*/
.SearchResultsDropDown {
    display: none;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 60px;
    right: 160px;
    width: 300px;
    height: 400px;
    overflow: auto;
    border: 1px solid #ddd;
    border-bottom-color: #ccc;
    border-radius: 4px;
    padding: 12px;
}
.SearchResultsDropDown .ais-hits--item {
    padding-bottom: 4px;
}
.SearchResultsDropDown h6 {
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 4px 0;
}
.SearchResultsDropDown h6 a,
.SearchResultsDropDown a {
    font-weight: normal;
    color: #427dc4;
}
.SearchResultsDropDown p {
    margin: 0;
    font-size: 11px;
    color: #999;
}

.SearchResultsDropDown--active {
    opacity: 1;
}

/*
    search results generated by Algolia instant search widget
    HOME PAGE
*/

.MainSearchResultsDropDown {
    display: none;
    position: absolute !important;
    top: 98px;
    left: 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    margin: 0px auto;
    width: 800px;
    height: 300px;
    overflow: auto;
    border: 1px solid #ddd;
    border-bottom-color: #ccc;
    border-radius: 4px;
    padding: 12px;
}
.LandingSearch {
    .ais-search-box--input {
        border: none;
        position: relative;
        top: 10px;
        min-width: 740px;
        background: none;
        padding-left: 0;
        font-size: 14px;
    }
    .ais-search-box--reset {
        display: none;
    }
}
.ais-search-box--reset-wrapper {
    min-width: 740px;
}
.MainSearchResultsDropDown .ais-hits--item {
    padding-bottom: 4px;
}
.MainSearchResultsDropDown h6 {
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 4px 0;
}
.MainSearchResultsDropDown h6 a,
.MainSearchResultsDropDown a {
    font-weight: normal;
    color: #427dc4;
}
.MainSearchResultsDropDown p {
    margin: 0;
    font-size: 11px;
    color: #999;
}

.MainSearchResultsDropDown--active {
    opacity: 1;
}


/* Large search field used by the home page */

.search.search--lrg {
    background: #fff url("/images/ui/search.png") 9px 11px no-repeat;
    height: 56px;
    border-radius: 40px;
    background-size: 30px;
    padding: 0 15px 0 44px;
    font-size: 16px;
    border: 1px solid #ddd;
    color: #000;
}

/*
 * Logo
 */
#logo {
    display: inline-block;
    font-size: 1.5em;
    line-height: 30px;
    font-weight: 500;
}
#logo img {
    vertical-align: middle;
    margin-right: 6px;
    width: 40px;
    height: 40px;
}

/*
 * Mobile
 * ---------------------------------------------------------- */
.MobileBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    z-index: 9;
    display: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.25);
}
.MobileBar-button {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 12px;
    background: url("/images/ui/menu.png") center center no-repeat;
    background-size: 24px;
}
.MobileBar .logo {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url("/images/ui/logo.svg") center center no-repeat;
    top: 5px;
    left: 50%;
    margin-left: -15px;
    background-size: 30px;
}



/*
 * Sidebar
 */

.sidebar {
    position: absolute;
    z-index: 10;
    top: 72px;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    font-size: 0.9em;

    // hide empty elements
    *:empty {
        display: none !important;
    }

    h2 {
        font-weight: bolder;
        margin-top: 0;
        font-size: 18px;
    }

    h3 {
        border-bottom: 1px solid #eee;
        font-weight: bold;
        font-size: 16px;
        padding-bottom: 6px;
        margin-bottom: 10px;

        a {
            color: #2c3e50;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        line-height: 1;
        padding-left: 1em;
    }

    li {
        // margin-top: 0.5em;
        line-height: 1.1;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .sidebar-inner {
        // box-sizing: border-box;
        width: 290px;
        padding: 20px 20px 60px 40px;
    }

    .version-select {
        vertical-align: middle;
        margin-left: 5px;
    }

    .menu-root {
        padding-left: 0;
    }

    .menu-sub {
        font-size: 0.85em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .sidebar-link {
        color: #7f8c8d;
        font-size: 13px;
        line-height: 1.3;
    }

    .sidebar-link.current {
        color: #000;
    }
    .sidebar-link:hover {
        padding-bottom: 1px;
        color: #333;
    }
    .section-link {
        color: rgb(52, 73, 94);
    }

    .section-link.active {
        font-weight: bold;
        color: #427dc4;
    }
    .main-menu {
        margin-bottom: 20px;
        display: none;
        padding-left: 0;
    }

    .nav-dropdown h4 {
        font-weight: normal;
        margin: 0;
    }
}


/* remove top space to compensate for sticky positioned header above */
// .sidebar .menu-root li:first-child h3 {
//     padding-top: 0;
//     margin-top: 0;
// }


@media screen and (min-width: 1025px) {
    .sticky-sidebar {
        background: -moz-linear-gradient(
            top,
            rgba(255, 255, 255, 0.9) 90%,
            rgba(255, 255, 255, 0.05) 100%
        );

        background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.95, rgba(255, 255, 255, 0.05) ),
            color-stop(0.85, rgba(255, 255, 255, 0.9) )
        );

        position: sticky;
        top: 0px;

        padding-top: 8px;
        padding-bottom: 1px;
    }
}

/*
 * Sidebar (Side drawer on mobile)
 * ------------------------------------------------------- */
@media screen and (max-width: 900px) {

    .sidebar {
        position: fixed;
        z-index: 10;
        background-color: #f9f9f9;
        height: 100%;
        top: 0;
        left: 0;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
    }
    .sidebar .sidebar-inner {
        padding: 50px 10px 10px 20px;
        box-sizing: border-box;
    }
    .sidebar .sidebar-inner-index {
        padding: 10px 10px 10px 20px;
    }
    .sidebar .search {
        min-width: 200px;
        margin-bottom: 10px;
    }
    .sidebar .main-menu {
        display: block;
    }
    .sidebar.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

}

/*
 * Content Menu
 * ------------------------------------------------------- */
.content.menu {
    font-size: 1.2em;
}
.content.menu .menu-root {
    padding-left: 0;
}
.content.menu #search-form,
.content.menu .algolia-autocomplete,
.content.menu input {
    width: 100%;
}
.content.menu .aa-dropdown-menu {
    box-sizing: border-box;
}
.content.menu h3 {
    margin: 1.5em 0 0.75em;
}
.content.menu h3:before,
.content.menu h3:after {
    display: none;
}
.content.menu li {
    list-style-type: none;
    margin-top: 0.1em;
}

.Header {
    box-shadow: inset 0px 0px 0px 1px #EFEFEF, 1px 1px 6px rgba(0,0,0,0.05);
    transition: background-color 0.3s ease-in-out;
}


/*
 * Content
 * The main article
 * ------------------------------------------------------------------  */

.content {
    position: relative;
    padding: 2.2em 0;
    max-width: 620px;
    margin: 0 auto;
    padding-left: 50px;

    /* Document content styles */

    a {
        font-weight: 500;
    }

    img  {
        max-width: 100%;
        // margin-top: 2em;
    }

    .light { color: #7f8c8d; }

    /* Document Headings */
    h1 {
        margin: 0 0 1em;
        font-size: 28px;
        font-weight: 900;
    }

    h2:before,
    h3:before {
        content: "";
        display: block;
        margin-top: -91px;
        height: 91px;
        visibility: hidden;
    }

    h2 {
        margin: 20px 0 0.8em;
        padding-bottom: 0.7em;
        border-bottom: 1px solid #e8e8e8;
        z-index: -1;
    }

    h3 {
        font-size: 18px;
        margin: 10px 0 1.2em;
        position: relative;
        z-index: -1;
    }

    figure {
        margin: 1.2em 0;
    }

    /* paragraphs and lists */
    p, ul, ol {
        line-height: 1.7em;
        margin: 1.2em 0 -1.2em;
        padding-bottom: 1.2em;
        position: relative;
        z-index: 1;
    }

    ul, ol {
        padding-left: 1.5em;
        position: inherit;
    }

    blockquote {
        margin: 2em 0;
        padding-left: 20px;
        border-left: 4px solid #42b983;
    }

    blockquote p {
        font-weight: 600;
        margin-left: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    iframe {
        margin: 1em 0;
    }
}









/*
 * Tables
 * Note: the jekyll syntax highlighter uses nested tables
 * so a .table namespace is used.
 * */
.content {
    .table {
        border: 1px solid #ddd;
        border-spacing: 0;
        border-collapse: collapse;
        margin-top: 2em;
        margin-bottom: 2em;
        overflow-x: auto;
        table-layout: fixed;
        width: 100%;
        border-radius: 3px;
    }
    .table td,
    .table th {
        line-height: 1.5em;
        padding: 0.4em 0.8em;
        border: none;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
    }
    .table th {
        font-weight: bold;
        text-align: left;
    }
    .table th,
    .table tr:nth-child(2n) {
        background-color: #f8f8f8;
    }
    .table th code,
    .table tr:nth-child(2n) code {
        background-color: #efefef;
    }
}

// colors
$notice-blue:  #2c3e50;
$notice-amber: #fe7f25;
$notice-green: #2aa754;

.notice {
    margin-top: 1em;
    margin-bottom: 1em;
}

/*
 * notice
/* Default - blue */
 .notice p {
    border-color: #547e9a !important;
    background-color: #f4f7f9 !important;
    color: #2c3e50 !important;
 }

 /* Amber / Orange Warning */
 .notice-warning p,
 .notice-amber p {
     border-color: #fe7f25 !important;
     background-color: #fff6f0 !important;
     color: #fe7f25 !important;
 }
 /* Danger / Red Warning */
 .notice-danger p,
 .notice-red p {
     border-color: #C82829 !important;
     background-color: #ffeaea !important;
     color: #C82829 !important;
 }
  /* Success / Green Warning */
 .notice-green p,
 .notice-success p {
     border-color: #2aa754 !important;
     background-color: #ebfaf0 !important;
     color: #2aa754 !important;
 }

.notice p {
    padding: 12px 24px 12px 30px;
    margin-bottom: 2em;
    border-left-width: 4px;
    border-left-style: solid;
    background-color: #f8f8f8;
    position: relative;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.content p.tip code,
.content p.success code {
    background-color: #efefef;
}


.content hr {
    display: none;
}

.content hr.rule {
    clear: both;
    display:block;
    height: 0 !important;
    border: solid #E5E5E5;
    border-width: 1px 0 0;
    margin:1em 0;
}


/*
 * Type lead
 * */
.lead {
    font-size: 20px;
    font-weight: 400;
    color: #999;
}

@media screen and (max-width: 900px) {
    .lead {
        font-size: 16px;
    }
}

.content .PageLinks {
    border-top: 1px solid #eee;
    margin-top: 3em;
    padding-top: 1.6em;
    height: 1em;
    font-weight: 500;
}
.content .PageLinks  strong {
    color: inherit;
    font-weight: 900;
}

.content .extra {
    max-width: 620px;
}

.ContentImage {
    margin: 1em 0;
}

/*
 * Footer
 * ------------------------------------------------------------------  */

.FooterArticle {
    color: #7f8c8d;
    margin-top: 2em;
    padding-top: 2em;
    margin-bottom: 2em;
    border-top: 1px solid #eee;
    font-size: 0.9em;
}


/*
 * Sidebar - fixed
 * ------------------------------------------------------------------  */

.Main--fixSidebar .sidebar {
    position: fixed;
}

/*
 * Responsive
 * ------------------------------------------------------------------  */

@media screen and (min-width: 1590px) {
    .Header {
        background-color: rgba(255, 255, 255, 0.95);
    }
}
@media screen and (max-width: 1300px) {
    .content--withSidebar {
        margin-left: 290px;
    }
}
@media screen and (max-width: 900px) {
    body {
        -webkit-text-size-adjust: none;
        font-size: 14px;
    }
    .Header {
        display: none;
    }
    #logo {
        display: none;
    }
    .nav-link {
        padding-bottom: 1px;
    }
    .nav-link:hover,
    .nav-link.current {
        border-bottom: 2px solid #42b983;
    }
    .MobileBar {
        display: block;
    }
    .Main {
        padding: 2em 1.4em 0;
    }
    /*.highlight pre {
    padding: 1.2em 1em;
    }*/
    .content {
        padding-left: 0;
    }
    .content--withSidebar {
        margin: auto;
    }
    .content h2:before,
    .content h3:before {
        content: "";
        display: block;
        margin-top: -70px;
        height: 70px;
        visibility: hidden;
    }
    .FooterArticle {
        margin-left: 0;
        text-align: center;
    }
}

/*
 * Panel
 * ------------------------------------------------------------------  */
.Panel {
    box-sizing: border-box;
    background-color: #FDFDFD;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1em;
    font-size: 14px;
}
.Panel h6 {
    margin: 0 0 0 0;
    text-transform: capitalize;
    color: #2c3e50;
}
.Panel p {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

/*
 * Media Object
 * ------------------------------------------------------------------  */

.Media {
    display: flex;
    align-items: flex-start;
}

.Media-figure {
    margin-right: 1em;
}
.Media-heading {
    font-size: 14px;
    padding-bottom: 4px;
}
.Media-body {
    flex: 1;
}

/*
 * Home Landing Page
 * Search & CTA for each product
 * ------------------------------------------------------------------  */

body.Body--home #search-query-nav {
    display: none;
}

.LandingContainer {
    box-sizing: border-box;
    padding: 2.3em 0;
    max-width: 800px;
    margin: 0 auto;
}

.LandingContainer.content {
    max-width: 800px !important;
}

.LandingSearch {
    position: relative;
    background: #fff;
}


/*
 * Home Landing Page
 * Product CTA's
 * ------------------------------------------------------------------  */
.Landing {
    background: #FDFDFD;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    min-height: 999999999em;
}

.Product {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 3px 0 rgba(0,0,0, .06);
    border-radius: 6px;
    transition: all .2s ease-in-out;
}
.Product .Button {
    font-weight: 500;
}
.Product:hover {
    box-shadow: 0 2px 6px 0 rgba(0,0,0, .12);
}
.Product:hover .Button {
    background: #449FD8;
    color: #fff;
}
.Product-body {
    padding: 2.1em 1.6em;
}
.Product .Product-title {
    font-size: 19px;
    font-weight: 800;
    margin: 0;
    padding: 0 0 1em;
    line-height: 1;
}
.Product .Product-text {
    font-size: 16px;
    margin: 0;
    padding: 0 0 1em;
    min-height: 64px;
}
.Product-topBar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #eee;
    height: 5px;
}
.Product-image {
    margin-top: 1px;
}

.Product-topBar--skycap {
    background: #4FA4DA;
}
.Product-topBar--maestro {
    background: #47B649;
}
.Product-topBar--cloud,
.Product-topBar--rack {
    background: #FF4747;
}
.Product-topBar--node {
    background: #80BE42;
}

/*
 * Search Results List
 * .SearchResults
 * ------------------------------------------------------------------  */
.LandingContainer.content .SearchResults {
    list-style: none;
    padding: 1em 0;
}
.LandingContainer.content h2 {
    font-weight: bold;
    font-size: 22px;
    padding: 0;
    margin: 0;
    border: none;
    line-height: 1;
}
.LandingContainer.content .SearchResults h3 {
    font-size: 17px;
    padding: 0;
    margin: 0;
}
.LandingContainer.content .SearchResults p {
    margin: 0 0 0.4em;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

/*
 * Related Links
 * .SearchResults
 * ------------------------------------------------------------------  */
.content .RelatedLinks-list  {
    list-style: none;
    padding-left: 0;
}
.content .RelatedLinks-title {
    line-height: 1;
}

/*
 * .Footer
 * .SearchResults
 * ------------------------------------------------------------------  */
.Footer {
    padding: 1.6em 0;
    color: #999;

    a {
        color: #666;
        &:hover {
            color: $link-color;
        }
    }
}

/*
 * .Shaded
 * shaded areas in main content, .Section's can contain .Panels
 * ------------------------------------------------------------------  */
.Section {
    position: relative;
    margin-bottom: 2em;
    margin-top: 2em;
}
.Section-body {
    padding-right: 1.6em;
    padding-left: 1.6em;
    padding-top: 2.4em;
    padding-bottom: 2.4em;
}
.Section--shaded {
    background-color: #FDFDFD;
    border: 1px solid #ededed;
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.03);

    .Product-topBar {
        height: 4px;
    }

    .Panel {
        background-color: #fff;
        box-shadow: 0 2px 3px 0 rgba(0,0,0, .08);
        padding-top: 1.4em;
        padding-bottom: 1.4em;
        transition: all 150ms ease 0s;
        .Media-heading {
            font-weight: bold;
            font-size: 17px;
        }
    }
    .Panel:hover {
        box-shadow: 0 2px 6px 0 rgba(0,0,0, .16);
        transform: translateY(-2px);
    }
}
.Section--shaded .Grid:last-child  {
    margin-bottom: 0;
    padding-bottom: 0;
}

/*
 * .NavCats
 * Navigation Categories: How-to, Guide, Tutorial
 * ------------------------------------------------------------------  */
.NavCats {
    .Media-heading {
        font-size: 16px;
    }
    .Media-link {

    }
}
.NavCats--skycap {
    .Media-figure {
        fill: #4FA4DA;
    }
}
.NavCats--maestro {
    .Media-figure {
        fill: #47B649;
    }
}
.NavCats--rails,
.NavCats--cloud {
    .Media-figure {
        fill: #FF4747;
    }
}
.NavCats--node {
    .Media-figure {
        fill: #80BE42;
    }
}
.NavCats--docker {
    .Media-figure {
        fill: #4FA4DA;
    }
}

/*
 * Tabs
 * Container
 * ------------------------------------------------------------------  */
.Tabs {
    margin: 3em 0;
}

.Tabs--enclosed {
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.06);

    .TabMini {
        padding: 0 0 0 16px !important;
    }

    .Tabs-content {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 22px;

        p {
            font-size: 14px;
        }
    }
}


/*
 * .NavCats
 * Navigation Categories: How-to, Guide, Tutorial
 * ------------------------------------------------------------------  */
.TabMini {
    list-style: none;
    padding: 0 !important;
    margin: 8px 0 21px 0 !important;
    border-bottom: 1px solid #ddd;
}
.TabMini-item {
    display: inline-block;
    list-style: none;
}
.TabMini-link {
    position: relative;
    top: 1px;
    display: block;
    padding: 14px;
    font-size: 14px;
    font-weight: bold !important;
    margin: 0 1.6em 0 0;
    outline: none;
    transition: none;

    &:hover {
        color: #24292e;
        text-decoration: none;
        border-bottom: 3px solid #ededed;
    }
}

li.active .TabMini-link {
    border-bottom: 3px solid #427dc4;
    font-weight: bold;
    color: #24292e;
    cursor: auto;
}

/*
 * Toc
 * Primary Table of Contents
 * ------------------------------------------------------------------  */
.content .Toc {
    h2 {
        padding-top: 0.75em;
        border-bottom: none !important;
    }
    h2:first-child {
        padding-top: 0;
    }
    ul {
        overflow: hidden;
        list-style: none;
        margin: 0;
        padding: 0;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
    }
    li {
        line-height: 1;
        font-weight: 500;
        padding: 12px 12px 12px 44px;
        background: transparent url('/images/ui/document.svg') no-repeat 15px 14px;
        background-size: 16px;
        border-bottom: 1px solid #eee;
        font-size: 16px;
        min-height: 28px;
    }
    li:hover {
        background-color: #FDFDFD;
        p {
            color: #000;
        }
    }
    li:last-child {
        border-bottom: none;
    }
    p {
        line-height: 1.2;
        margin: 0;
        padding: 0;
        padding-top: 3px;
        color: #999;
        font-weight: normal;
        font-size: 13px;
    }
    .Tag {
        float: right;
        margin-right: 4px;
        background: transparent;

        &:last-child {
            padding-right: 0;
        }
    }
}

/*
 * Tag
 * Base styles for tags labels.
 * ------------------------------------------------------------------  */
.Tag {
    line-height: 1;
    display: inline-block;
    color: #aaa;
    font-size: 9px;
    background: #f0f0f0;
    padding: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.15px;
}

/*
 * Accordion Nav
 * Simple Accordian for long navigation lists
 * ------------------------------------------------------------------  */
.accordion {
    padding-bottom: 12px;
}
.accordion-toggle {
    cursor: pointer;
    color: #427dc4;
}
.accordion-toggle.active {
    color: #2c3e50 !important;
    cursor: default;
}
.accordion-content {
    display: none;
}
.accordion-content  {
    p, ul {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0.3em;
    }
}
.accordion-content.open {
    display: block;
}
