/*
 * GLobal Utility Classes
 * ------------------------------------------------------------------  */
 .u-textBreak {
   word-wrap: break-word !important;
 }

 /**
  * Horizontal text alignment
  */

 .u-textCenter {
   text-align: center !important;
 }

 .u-textLeft {
   text-align: left !important;
 }

 .u-textRight {
   text-align: right !important;
 }

 .u-textBreak {
   word-wrap: break-word !important;
 }

 .u-textSmall {
    font-size: 14px;
 }
  .u-textXsmall {
    font-size: 13px;
 }

 /**
  * Horizontal text alignment
  */

 .u-textCenter {
   text-align: center !important;
 }

 .u-textLeft {
   text-align: left !important;
 }

 .u-textRight {
   text-align: right !important;
 }

 .u-flushTop {
     padding-top: 0;
     margin-top: 0;
 }

 /**
  * Inherit the ancestor's text color.
  */

 .u-textInheritColor {
   color: inherit !important;
 }

 /**
  * Enables font kerning in all browsers.
  * http://blog.typekit.com/2014/02/05/kerning-on-the-web/
  *
  * 1. Chrome (not Windows), Firefox, IE 10+
  * 2. Safari 7 and future browsers
  * 3. Chrome (not Windows), Firefox, Safari 6+, iOS, Android
  */

 .u-textKern {
   font-feature-settings: "kern" 1; /* 1 */
   font-kerning: normal; /* 2 */
   text-rendering: optimizeLegibility; /* 3 */
 }

 .u-textNoWrap {
   white-space: nowrap !important;
 }

 .u-textTruncate {
   max-width: 100%; /* 1 */
   overflow: hidden !important;
   text-overflow: ellipsis !important;
   white-space: nowrap !important;
   word-wrap: normal !important; /* 2 */
 }

 /**
  * Prevent whitespace wrapping
  */

 .u-textNoWrap {
   white-space: nowrap !important;
 }

 .u-textTruncate {
   max-width: 100%; /* 1 */
   overflow: hidden !important;
   text-overflow: ellipsis !important;
   white-space: nowrap !important;
   word-wrap: normal !important; /* 2 */
 }


.u-floatRight {
    float: right;
}
.u-boxShadow {
    transition: all .3s ease-in-out;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}
.u-boxShadow--withHover:hover {
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.125);
}

.u-fullWidth {
	width: 100% !important;
	min-width: 100% !important;
	max-width: 100% !important;
}

.u-altColor {
	background-color: #FDFDFD;
}


.u-fullWidthPostItem {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.u-linkClean,
.u-linkClean:hover,
.u-linkClean:focus,
.u-linkClean:active {
    text-decoration: none !important;
    color: inherit !important;
}


.u-dropShadow {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.06);
}

.is-hidden {
    display: none;
}

.u-inlineBlock {
  display: inline-block !important;
}
.u-verticalAlignMiddle {
    vertical-align: middle;
}
