---
layout: post
template: one-col
title: What is Two-step Verification?
categories: accounts
lead: ""
legacy: false
tags: ["account", "security"]
permalink: /:collection/:path:output_ext
---

{%include references/account/two-step-verification.md %}
