---
layout: default
title: search for help | Cloud 66
bodyclass: search
---

<nav class="crumbs container">
    {% include contents_link.html %}
    <a href="/" rel="home">
        <img src="//cdn.cloud66.com/images/logo.svg" alt="Cloud 66" width="40" class="pull-right logo-sml">
    </a>
</nav>

<article class="article container">

    <h1 class="article-title">
        Lorem ipsum dolor
    </h1>

    <p class="lead">
       Article lead para Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, labore, temporibus adipisicing elit.
    </p>

    <p class="weighted">
        Weighted para can be used e.g. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quos repudiandae dolor commodi ratione reiciendis quas quam cum ullam. Dolore, ducimus, ratione sapiente excepturi possimus iusto corporis labore temporibus exercitationem?
    </p>

    <p><span class="highlighted">Text can be highlighted</span> of a block level notice can be used &mdash; see the examples below.</p>

    <p>Default notice</p>

    <div class="notice">
        <h3>Important</h3>
        <p>Call-out some text on the page as important but use sparingly! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <p>Warning notice</p>

    <div class="notice notice-warning">
        <h3>Warning</h3>
        <p>Callout some text on the page as warning but use sparingly! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <p>Danger notice or there is an <span class="error">error class for error text</span></p>

    <div class="notice notice-danger">
        <h3>Danger</h3>
        <p>Callout some text on the page as dangerous but use sparingly! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <p>error can be mixed with the <code>notice-danger</code> class.</p>

    <div class="notice notice-danger">
        <h3 class="error">Danger</h3>
        <p class="error">Callout some text on the page as dangerous but use sparingly! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, quasi, numquam, quidem reprehenderit cupiditate animi dolor ut exercitationem rerum molestias ad inventore accusantium voluptate ex recusandae aliquam sunt officiis iste.
    </p>

    <h2>heading two</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

    <ul>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
        <li>List item 4</li>
    </ul>

    <p>List items can contain nested paras:</p>

    <ul>
        <li>
            <p>
            <strong>Lorem ipsum</strong> &mdash; dolor sit amet, consectetur adipisicing elit. Soluta, eum, dicta reiciendis est aut modi quam provident doloribus magnam molestiae non numquam iure facilis odio harum vero tempore voluptatum accusantium.
            </p>
        </li>
        <li>
            <p>
            <strong>Soluta eum</strong> &mdash; dicta reiciendis est aut modi quam provident doloribus magnam molestiae non numquam iure facilis odio harum
            </p>
        </li>
    </ul>

    <p>Need to show keyboard input: <kbd>ssh user@server_address -i /path/to/downloaded/ssh/key/key.pem</kbd>. or instead show a terminal block:</p>

<pre class="terminal">
<kbd>ssh user@server_address -i /path/to/downloaded/ssh/key/key.pem</kbd>
</pre>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, omnis, necessitatibus.</p>

<h2>Tabular Data</h2>

<table class='table table-bordered table-striped'>
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Default Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>user</td>
            <td>nginx</td>
        </tr>
        <tr>
            <td>worker_processes</td>
            <td>Dynamicly set <a href="/help/vendor_instances">based on instance size</a></td>
        </tr>
    </tbody>
</table>


<p>Jekyll also offers powerful support for code snippets:</p>

<div class="highlight codehilite"><pre><code class="ruby"><span class="k">def</span> <span class="nf">print_hi</span><span class="p">(</span><span class="nb">name</span><span class="p">)</span>
  <span class="nb">puts</span> <span class="s2">&quot;Hi, </span><span class="si">#{</span><span class="nb">name</span><span class="si">}</span><span class="s2">&quot;</span>
<span class="k">end</span>
<span class="n">print_hi</span><span class="p">(</span><span class="s1">&#39;Tom&#39;</span><span class="p">)</span>
<span class="c1">#=&gt; prints &#39;Hi, Tom&#39; to STDOUT.</span>
</code></pre></div>

<p>Check out the <a href="http://jekyllrb.com">Jekyll docs</a> for more info on how to get the most out of Jekyll. File all bugs/feature requests at <a href="https://github.com/mojombo/jekyll">Jekyll&#39;s GitHub repo</a>.</p>

{% highlight ruby linenos %}
def foo
  puts 'foo'
end
{% endhighlight %}

{% highlight ruby %}
def foo
  puts 'foo'
end
{% endhighlight %}

For `bash` highlighting, always use a `$` before the commands entered by the user:

{% highlight bash %}
$ pwd
{% endhighlight %}

For values returned by the system use the normal `terminal` class:

<pre class="terminal">
/Users/me/my_awesome_project
</pre>

</article>

<nav class="crumbs crumbs-bottom container">
    {% include contents_link.html %}
</nav>