## Enable two-step verification
To enable two-step verification on your Cloud 66 account, start by visiting your _Account_ page. Next, click _Enable 2-step verification_ to install Google Authenticator on your phone and scan your barcode.

