<nav class="list">
    <div class="sticky-sidebar">
        <h2 class="product-title" id="{{title}}-product-heading">
            Rails Documentation
        </h2>

        <ul class="menu-root">
            {% assign section = site.rails | where:"categories","quickstarts" | sort: "order" %}
            <li><h3>Quickstarts</h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

        <ul class="menu-root">
            {% assign deployments = site.rails | where:"categories","how-to-guides/deployment" | sort: "order" %}
            {% assign databases = site.rails | where:"categories","how-to-guides/databases" | sort: "order" %}
            {% assign security = site.rails | where:"categories","how-to-guides/security" | sort: "order" %}

            <li><h3>How-to Guides</h3></li>
            {% include left_nav_list.html section=deployments current=page %}
            <li>--</li>
            {% include left_nav_list.html section=databases current=page %}
            <li>--</li>
            {% include left_nav_list.html section=security current=page %}
        </ul>

        <ul class="menu-root">
            {% assign section = site.rails | where:"categories","tutorials" | sort: "order" %}
            <li><h3>Tutorials</h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

        <ul class="menu-root">
            {% assign section = site.rails | where:"categories","tutorials" | sort: "order" %}
            <li><h3>References</h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

        <ul class="menu-root">
            {% assign section = site.rails | where:"categories","concepts" | sort: "order" %}
            <li><h3>Concepts</h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

        <ul class="menu-root">
            {% assign section = site.rails | where:"categories","resources" | sort: "order" %}
            <li><h3>Resources</h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

    </div>
</nav>

