<nav class="list">
        <div class="sticky-sidebar">
            <h2 class="product-title" id="{{title}}-product-heading">
                {% if page.collection == 'legacy_docker' %}Docker{% else %}{{ page.collection | capitalize | replace:"_"," " }}{% endif %} Documentation
            </h2>
        </div>
        {% assign product = page.collection | downcase %}
        
        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","the-basics" | sort: "order" %}
            <li><h3 class="u-flushTop"><a href="/{{product}}/the-basics">The Basics</a></h3></li>          
            {% include left_nav_list.html section=section current=page %}
        </ul>
        
        
        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","quickstarts" | sort: "order" %}
            <li><h3><a href="/{{product}}/quickstarts">Quickstarts</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>


        <ul class="menu-root">
            {% assign building = include.collection | where:"categories","how-to-guides/building" | sort: "order" %}
            {% assign formations = include.collection | where:"categories","how-to-guides/formations" | sort: "order" %}

            <li><h3><a href="/{{product}}/how-to-guides">How-to Guides</a></h3></li>
            {% include left_nav_list.html section=building current=page %}
            <li>&mdash;</li>
            {% include left_nav_list.html section=formations current=page %}
        </ul>

        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","references" | sort: "order" %}
            <li><h3><a href="/{{product}}/references">References</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
            <li>&mdash;</li>
            {% assign section = include.collection | where:"categories","references/toolbelt" | sort: "order" %}
            {% include left_nav_list.html section=section current=page %}
            <li>&mdash;</li>
            {% assign section = include.collection | where:"categories","references/accounts" | sort: "order" %}
            {% include left_nav_list.html section=section current=page %}
            <li>&mdash;</li>
            {% assign section = include.collection | where:"categories","references/integrations" | sort: "order" %}
            {% include left_nav_list.html section=section current=page %}
            <li>&mdash;
            {% assign section = include.collection | where:"categories","references/clouds" | sort: "order" %}
            {% include left_nav_list.html section=section current=page %}

        </ul>

        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","tutorials" | sort: "order" %}
            <li><h3><a href="/{{product}}/tutorials">Tutorials</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","concepts" | sort: "order" %}
            <li><h3><a href="/{{product}}/concepts">Concepts</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

        <ul class="menu-root">
            <li><h3><a href="/{{product}}/resources">Resources</a></h3></li>
            {% assign section = include.collection | where:"categories","resources" | sort: "order" %}
            {% include left_nav_list.html section=section current=page %}
        </ul>
</nav>

