<nav class="list">
        <div class="sticky-sidebar">
            <h2 class="product-title" id="rails-product-heading">
                Rails Documentation
            </h2>
        </div>


        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","the-basics" | sort: "order" %}
            <li><h3 class="u-flushTop"><a href="/rails/the-basics">The Basics</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>


        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","quickstarts" | sort: "order" %}

            <li><h3><a href="/rails/quickstarts">Getting Started</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>


        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","tutorials" | sort: "order" %}
            <li><h3><a href="/rails/tutorials">Tutorials</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

      <ul class="menu-root">
            {% assign common-tools = include.collection | where:"categories","how-to-guides/common-tools" | sort: "order" %}

            <li><h3><a href="/rails/how-to-guides/common-tools">How-to: Common tools</a></h3></li>
            {% include left_nav_list.html section=common-tools current=page %}
        </ul>


        <ul class="menu-root">
            {% assign deployment = include.collection | where:"categories","how-to-guides/deployment" | sort: "order" %}
            <li><h3><a href="/rails/how-to-guides/deployment">How-to: Config & Deployment</a></h3></li>
            {% include left_nav_list.html section=deployment current=page %}
        </ul>

 	   <ul class="menu-root">
            {% assign rack = include.collection | where:"categories","how-to-guides/rack-servers" | sort: "order" %}
            <li><h3><a href="/rails/how-to-guides/rack-servers">How-to: Web servers</a></h3></li>
            {% include left_nav_list.html section=rack current=page %}
        </ul>

        <ul class="menu-root">
            {% assign databases = include.collection | where:"categories","how-to-guides/databases" | sort: "order" %}
            <li><h3><a href="/rails/how-to-guides/databases">How-to: Databases</a></h3></li>
       {% include left_nav_list.html section=databases current=page %}
        </ul>
        
        <ul class="menu-root">
            {% assign security = include.collection | where:"categories","how-to-guides/security" | sort: "order" %}

            <li><h3><a href="/rails/how-to-guides/security">How-to: Security</a></h3></li>
            {% include left_nav_list.html section=security current=page %}
        </ul>

        
        <ul class="menu-root">
            {% assign clouds = include.collection | where:"categories","how-to-guides/clouds" | sort: "order" %}

            <li><h3><a href="/rails/how-to-guides/clouds">How-to: Cloud providers</a></h3></li>
            {% include left_nav_list.html section=clouds current=page %}
        </ul>

	   <ul class="menu-root">
            {% assign scaling = include.collection | where:"categories","how-to-guides/scaling" | sort: "order" %}
            <li><h3><a href="/rails/how-to-guides/scaling">How-to: Scaling</a></h3></li>
       {% include left_nav_list.html section=scaling current=page %}
        </ul>

	   <ul class="menu-root">
            {% assign add-ins = include.collection | where:"categories","how-to-guides/add-ins" | sort: "order" %}
            <li><h3><a href="/rails/how-to-guides/add-ins">How-to: Add-ins</a></h3></li>
       {% include left_nav_list.html section=add-ins current=page %}
        </ul>

   <ul class="menu-root">
            {% assign integrations = include.collection | where:"categories","integrations" | sort: "order" %}
            <li><h3><a href="/rails/integrations">Integration guides</a></h3></li>
       {% include left_nav_list.html section=integrations current=page %}
        </ul>


        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","references" | sort: "order" %}
            <li><h3><a href="/rails/references">Reference guides</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>


        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","accounts" | sort: "order" %}
            <li><h3><a href="/rails/account">Account management</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>


        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","resources" | sort: "order" %}
            <li><h3><a href="/rails/resources">Resources</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>
</nav>

