<nav class="list">
        <div class="sticky-sidebar">
            <h2 class="product-title" id="maestro-product-heading">
                Maestro Documentation
            </h2>
        </div>
        {% assign product = page.collection | downcase %}

        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","the-basics" | sort: "order" %}
            <li><h3 class="u-flushTop"><a href="/maestro/the-basics">The Basics</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>
       
       
        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","quickstarts" | sort: "order" %}
            <li><h3><a href="/maestro/quickstarts">Getting Started</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","tutorials" | sort: "order" %}
            <li><h3><a href="/maestro/tutorials">Tutorials</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

       <ul class="menu-root">
        {% assign common-tools = include.collection | where:"categories","how-to-guides/common-tools" | sort: "order" %}
       
    		<li><h3><a href="/maestro/how-to-guides/common-tools">How-to: Common Tools</a></h3></li>
            {% include left_nav_list.html section=common-tools current=page %}
       
        </ul>

       <ul class="menu-root">
            {% assign deployments = include.collection | where:"categories","how-to-guides/build-and-config" | sort: "order" %}
       
    		<li><h3><a href="/maestro/how-to-guides/build-and-config">How-to: Build & Config</a></h3></li>
            {% include left_nav_list.html section=deployments current=page %}
       
        </ul>
  
       <ul class="menu-root">
            {% assign deployments = include.collection | where:"categories","how-to-guides/deployment" | sort: "order" %}
       
    		<li><h3><a href="/maestro/how-to-guides/deployment">How-to: Deployment</a></h3></li>
            {% include left_nav_list.html section=deployments current=page %}
       
        </ul>
      
       <ul class="menu-root">
            {% assign databases = include.collection | where:"categories","how-to-guides/databases" | sort: "order" %}
       
    		<li><h3><a href="/maestro/how-to-guides/databases">How-to: Databases</a></h3></li>
            {% include left_nav_list.html section=databases current=page %}
       
        </ul>
 
  
       <ul class="menu-root">
            {% assign nginx = include.collection | where:"categories","how-to-guides/nginx" | sort: "order" %}
       
    		<li><h3><a href="/maestro/how-to-guides/nginx">How-to: Nginx</a></h3></li>
            {% include left_nav_list.html section=nginx current=page %}
       
        </ul>
 
  
         <ul class="menu-root">
            {% assign security = include.collection | where:"categories","how-to-guides/security" | sort: "order" %}
            <li><h3><a href="/maestro/how-to-guides/security">How-to: SSL</a></h3></li>
            {% include left_nav_list.html section=security current=page %}

        </ul>
 
        <ul class="menu-root">
            {% assign clouds = include.collection | where:"categories","how-to-guides/clouds" | sort: "order" %}
       
    		<li><h3><a href="/maestro/how-to-guides/clouds">How-to: Cloud Providers</a></h3></li>
            {% include left_nav_list.html section=clouds current=page %}
       
        </ul>
            
        <ul class="menu-root">
            {% assign scaling = include.collection | where:"categories","how-to-guides/scaling" | sort: "order" %}
       
    		<li><h3><a href="/maestro/how-to-guides/scaling">How-to: Scaling</a></h3></li>
            {% include left_nav_list.html section=scaling current=page %}
       
        </ul>
            
       <ul class="menu-root">
            {% assign add-ins = include.collection | where:"categories","how-to-guides/add-ins" | sort: "order" %}
       
    		<li><h3><a href="/maestro/how-to-guides/add-ins">How-to: Add-ins</a></h3></li>
            {% include left_nav_list.html section=add-ins current=page %}
       
        </ul>
             
       <ul class="menu-root">
            {% assign integrations = include.collection | where:"categories","integrations" | sort: "order" %}
       
    		<li><h3><a href="/maestro/integrations">Integration guides</a></h3></li>
            {% include left_nav_list.html section=integrations current=page %}
       
        </ul>
 
        
        
        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","references" | sort: "order" %}
            <li><h3><a href="/maestro/references">Reference guides</a></h3></li>
            {% include left_nav_list.html section=section current=page %}

        </ul>

       <ul class="menu-root">
            <li><h3><a href="/maestro/account">Account management</a></h3></li>
            {% assign section = include.collection | where:"categories","account" | sort: "order" %}
            {% include left_nav_list.html section=section current=page %}
        </ul>

        <ul class="menu-root">
            <li><h3><a href="/maestro/resources">Policies & specifications</a></h3></li>
            {% assign section = include.collection | where:"categories","resources" | sort: "order" %}
            {% include left_nav_list.html section=section current=page %}
        </ul>
</nav>

