<nav class="list">
        <div class="sticky-sidebar">
            <h2 class="product-title" id="{{title}}-product-heading">
                Rails Documentation
            </h2>
        </div>

        <ul class="menu-root">
            {% assign section = site.rails | where:"categories","quickstarts" | sort: "order" %}
            <li><h3 class="u-flushTop"><a href="quickstarts/index.html">Quickstarts</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

        <ul class="menu-root">
            {% assign deployments = site.rails | where:"categories","how-to-guides/deployment" | sort: "order" %}
            {% assign databases = site.rails | where:"categories","how-to-guides/databases" | sort: "order" %}
            {% assign security = site.rails | where:"categories","how-to-guides/security" | sort: "order" %}

            <li><h3><a href="how-to-guides/index.html">How-to Guides</a></h3></li>
            {% include left_nav_list.html section=deployments current=page %}
            <li>--</li>
            {% include left_nav_list.html section=databases current=page %}
            <li>--</li>
            {% include left_nav_list.html section=security current=page %}
        </ul>

        <ul class="menu-root">
            {% assign section = site.rails | where:"categories","tutorials" | sort: "order" %}
            <li><h3><a href="tutorials/index.html">Tutorials</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

        <ul class="menu-root">
            {% assign section = site.rails | where:"categories","tutorials" | sort: "order" %}
            <li><h3><a href="references/index.html">References</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

        <ul class="menu-root">
            {% assign section = site.rails | where:"categories","concepts" | sort: "order" %}
            <li><h3><a href="concepts/index.html">Concepts</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

        <ul class="menu-root">
            {% assign section = site.rails | where:"categories","resources" | sort: "order" %}
            <li><h3><a href="resources/index.html">Resources</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>
</nav>

