<nav class="list">
        <div class="sticky-sidebar">
            <h2 class="product-title" id="{{title}}-product-heading">
                {{ page.collection | capitalize | replace:"_"," " }} Documentation
            </h2>
        </div>
        {% assign product = page.collection | downcase %}
        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","quickstarts" | sort: "order" %}
            <li><h3 class="u-flushTop"><a href="/{{product}}/quickstarts">Quickstarts</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

        <ul class="menu-root">
            {% assign deployments = include.collection | where:"categories","how-to-guides/deployment" | sort: "order" %}
            {% assign databases = include.collection | where:"categories","how-to-guides/databases" | sort: "order" %}
            {% assign security = include.collection | where:"categories","how-to-guides/security" | sort: "order" %}
            
            <li><h3><a href="/{{product}}/how-to-guides">How-to Guides</a></h3></li>
            {% include left_nav_list.html section=deployments current=page %}
            {% include left_nav_list.html section=g_deployments current=page %}
            <li>&mdash;</li>
            {% include left_nav_list.html section=databases current=page %}
            {% include left_nav_list.html section=g_databases current=page %}
            <li>&mdash;</li>
            {% include left_nav_list.html section=security current=page %}
        </ul>

        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","references" | sort: "order" %}
            <li><h3><a href="/{{product}}/references">References</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
            {% assign section = include.collection | where:"categories","references/toolbelt" | sort: "order" %}            
            {% include left_nav_list.html section=section current=page %}
            <li>&mdash;</li>
            
            <li>&mdash;</li>
            
            <li>&mdash;</li>
            
        </ul>

        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","tutorials" | sort: "order" %}
            <li><h3><a href="/{{product}}/tutorials">Tutorials</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

        <ul class="menu-root">
            {% assign section = include.collection | where:"categories","concepts" | sort: "order" %}
            <li><h3><a href="/{{product}}/concepts">Concepts</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
        </ul>

        <ul class="menu-root">
            /resources">Resources</a></h3></li>
            {% include left_nav_list.html section=section current=page %}
            {% assign section = include.collection | where:"categories","resources" | sort: "order" %}
            {% include left_nav_list.html section=section current=page %}
            <li>&mdash;</li>
            
        </ul>
</nav>

