<!--
	need loop to output the nav in the HTML structure below
-->

<nav class="list">
	<div class="sticky-sidebar">
		<h2>Rails Documentation</h2>
	</div>

	<ul class="menu-root">
		<li>
			<h3 class="u-flushTop">Introduction</h3>
		</li>
		<li>
			<a href="Cloud-66-for-rails.html" class="sidebar-link">Cloud 66 for Rails</a>
		</li>
		<li>
			<h3>Guides</h3>
		</li>
		<li>
			<a href="#" class="sidebar-link current">
				Deploying your first Rails App
			</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">
				Secure your app, Install an SSL Certificate
			</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">Backing up your Rails App</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">Scaling up your Rails App</a>
		</li>
		<li>
			<h3>Tutorials</h3>
		</li>
		<li>
			<a href="#" class="sidebar-link">Scale up your Web Servers</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">Set up Replication</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">Set up Failover Groups</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">Setting up HTTP/2</a>
		</li>
		<li>
			<h3>References</h3>
		</li>
		<li>
			<a href="#" class="sidebar-link">Asset Pipeline precompilation</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">AWS Platforms (EC2-Classic, EC2-VPC)</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">Supported Cloud Providers</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">
				Manifest Files
			</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">Open source Stack components</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">Lots of reference docs</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">This can scroll down forever!</a>
		</li>
	</ul>
</nav><!-- /.list -->
