{% case page.collection %}
	{% when 'rails' %}
    {% include left_nav_rails.html collection=site.rails %}
	{% when 'node' %}
    {% include left_nav_node.html collection=site.node %}
	{% when 'maestro' %}
    {% include left_nav_maestro.html collection=site.maestro %}
	{% when 'skycap' %}
    {% include left_nav_skycap.html collection=site.skycap %}
	{% when 'prepress' %}
    {% include left_nav_prepress.html collection=site.prepress %}
    {% when 'guides' %}
    {% include left_nav_guides.html collection=site.guides %}
    {% when 'habitus' %}
    {% include oss_left_nav.html collection=site.habitus %}
	{% when 'starter' %}
    {% include oss_left_nav.html collection=site.starter %}
    {% when 'copper' %}
    {% include oss_left_nav.html collection=site.copper %}
    {% when 'alterant' %}
    {% include oss_left_nav.html collection=site.alterant %}
{% endcase %}
