<section class="LandingContainer">

    <div class="LandingContent">
        <h2 class="LandingContent-title">
            By Product | <a href="/home2/">By Objective</a>
        </h2>
    </div>

    <div class="Grid Grid--gutter Grid--full large-Grid--fit med-Grid--guttersXl">
        <div class="Grid-cell">
            <a class="u-linkClean" href="/rails">
                <div class="Product">
                    <div class="Product-topBar Product-topBar--rack"></div>
                    <div class="Product-body">
                          <div class="Media">
                              <img src="/images/ui/ruby_logo.svg" class="Media-figure Product-image" width="40" alt="">
                              <div class="Media-body">
                                  <h6 class="Product-title">Rails &amp; Rack Frameworks</h6>
                                  <p class="Product-text">
                                      Build, deploy and maintain your Rack apps on any cloud or server.
                                  </p>
                                  <span class="Button Button--outlined Button--blue">
                                      Rails Docs
                                  </span>
                              </div>
                          </div><!--.Media-->
                    </div>
                </div><!-- /.Panel -->
            </a>
        </div><!--/.Grid-cell-->
        <div class="Grid-cell">
            <a class="u-linkClean" href="/maestro">
                <div class="Product">
                    <div class="Product-topBar Product-topBar--maestro"></div>
                    <div class="Product-body">
                        <div class="Media">
                            <img src="/images/ui/maestro_logo.svg" class="Media-figure Product-image" width="40" alt="">
                            <div class="Media-body">
                                <h6 class="Product-title">Maestro</h6>
                                <p class="Product-text">
                                    A full container management service, backed by Kubernetes.
                                </p>
                                <span class="Button Button--outlined Button--blue">
                                    Maestro Docs
                                </span>
                            </div>
                        </div><!--.Media-->
                    </div><!--./Product-body -->
                </div><!--/.Panel-->
            </a>
        </div><!--/.Grid-cell-->
    </div>

    <div class="Grid Grid--gutter Grid--full large-Grid--fit med-Grid--guttersXl">
        <div class="Grid-cell">
            <a class="u-linkClean" href="/prepress">
                <div class="Product">
                    <div class="Product-topBar Product-topBar--prepress"></div>
                    <div class="Product-body">
                        <div class="Media">
                            <img src="/images/ui/prepress_logo.svg" class="Media-figure Product-image" width="40" alt="">
                            <div class="Media-body">
                                <h6 class="Product-title">Prepress</h6>
                                <p class="Product-text">
                                    Deploy prebuilt web apps on any cloud.
                                </p>
                                <span class="Button Button--outlined Button--blue">
                                    Prepress Docs
                                </span>
                            </div>
                        </div><!--.Media-->
                    </div><!--/.Product-body -->
                </div><!--/.Panel-->
            </a>
        </div><!--/.Grid-cell-->
        <div class="Grid-cell">
            <a class="u-linkClean" href="/node">
                <div class="Product">
                    <div class="Product-topBar Product-topBar--node"></div>
                    <div class="Product-body">
                        <div class="Media">
                            <img src="/images/ui/node_logo.svg" class="Media-figure Product-image" width="40" alt="">
                            <div class="Media-body">
                                <h6 class="Product-title">Node Frameworks</h6>
                                <p class="Product-text">
                                    Build, deploy and maintain your node.js apps on any cloud or server.
                                </p>
                                <span class="Button Button--outlined Button--blue">
                                    Node Docs
                                </span>
                            </div>
                        </div><!--.Media-->
                    </div><!--/.Product-body -->
                </div><!-- /.Panel -->
        </a>
    </div><!--/.Grid-cell-->
    </div>    
    <div class="Grid Grid--justifyCenter Grid--gutter Grid--full large-Grid--fit med-Grid--guttersXl">

        <div class="Grid-cell u-large-1of2">
            <a class="u-linkClean" href="/skycap">
                <div class="Product">
                    <div class="Product-topBar Product-topBar--skycap"></div>
                    <div class="Product-body">
                        <div class="Media">
                          <img src="/images/ui/skycap_logo.svg" class="Media-figure Product-image" width="40" alt="">
                          <div class="Media-body">
                              <h6 class="Product-title">Skycap</h6>
                              <p class="Product-text">
                                  A complete CI pipeline to build your code into container images.
                              </p>
                              <span class="Button Button--outlined Button--blue">
                                  Skycap Docs
                              </span>
                          </div>
                        </div><!--.Media-->
                    </div><!--./Product-body -->
                </div><!-- /.Panel -->
            </a>
        </div><!--/.Grid-cell-->
    </div><!--/.Grid-->

</section>


