<section class="LandingContainer">

    <div class="LandingContent">
        <h2 class="LandingContent-title">
            <a href="/">By Product</a> | By Objective
        </h2>
    </div>

    <div class="Grid Grid--gutter Grid--full large-Grid--fit med-Grid--guttersXl">
        <div class="Grid-cell">
            <a class="u-linkClean" href="/objectives/scaling/">
                <div class="Product">
                    <div class="Product-topBar Product-topBar--skycap"></div>
                    <div class="Product-body">
                          <div class="Media">
                              <img src="/images/ui/document.svg" class="Media-figure Product-image" width="40" alt="">
                              <div class="Media-body">
                                  <h6 class="Product-title">Scaling</h6>
                                  <p class="Product-text">
                                      Scale your app from alpha launch to IPO! 
                               
                                <ul>
                                    <li>Load balancers</li>
                                    <li>Web-servers</li>
                                <li>Processes</li>
                                    <li>Services | Containers</li>
                                        <li>   Databases</li>
                                            <li>  Auto-scaling</li>
                                </ul>
                            </p>
                              </div>
                          </div><!--.Media-->
                    </div>
                </div><!-- /.Panel -->
            </a>
        </div><!--/.Grid-cell-->
        <div class="Grid-cell">
            <a class="u-linkClean" href="/objectives/security/">
                <div class="Product">
                    <div class="Product-topBar Product-topBar--skycap"></div>
                    <div class="Product-body">
                        <div class="Media">
                            <img src="/images/ui/document.svg" class="Media-figure Product-image" width="40" alt="">
                            <div class="Media-body">
                                <h6 class="Product-title">Application Security</h6>
                                <p class="Product-text">
                                    Secure your application from attacks
                                    <ul>
                                    <li>SSL</li>
                                    <li>Application Private Networks</li>
                                    <li>Network firewall</li>
                                    <li>Web Application Firewall (WAF)</li>
                                    <li>ActiveProtect</li>
                                    <li>Service Accounts</li>
                                    </ul>
                                </p>
                          
                            </div>
                        </div><!--.Media-->
                    </div><!--./Product-body -->
                </div><!--/.Panel-->
            </a>
        </div><!--/.Grid-cell-->
        <div class="Grid-cell">
            <a class="u-linkClean" href="/objectives/disaster-recovery/">
                <div class="Product">
                    <div class="Product-topBar Product-topBar--skycap"></div>
                    <div class="Product-body">
                        <div class="Media">
                            <img src="/images/ui/document.svg" class="Media-figure Product-image" width="40" alt="">
                            <div class="Media-body">
                                <h6 class="Product-title">Disaster recovery </h6>
                                <p class="Product-text">
                                    Recover from unexpected incidents
                                    <ul>
                                        <li>Managed database backups </li>
                                        <li>Failover Groups</li>
                                    <li>Processes</li>
                                        <li>Deployment Rollbacks</li>
                                            <li>   Cloning apps</li>
                                    </ul>
                                </p>
                          
                            </div>
                        </div><!--.Media-->
                    </div><!--./Product-body -->
                </div><!--/.Panel-->
            </a>
        </div><!--/.Grid-cell-->
    </div>

    <div class="Grid Grid--gutter Grid--full large-Grid--fit med-Grid--guttersXl">
        <div class="Grid-cell">
            <a class="u-linkClean" href="/rails">
                <div class="Product">
                    <div class="Product-topBar Product-topBar--skycap"></div>
                    <div class="Product-body">
                          <div class="Media">
                              <img src="/images/ui/document.svg" class="Media-figure Product-image" width="40" alt="">
                              <div class="Media-body">
                                  <h6 class="Product-title">Scaling</h6>
                                  <p class="Product-text">
                                      Scale your app from alpha launch to IPO!
                               
                                <ul>
                                    <li>Load balancers</li>
                                    <li>Web-servers</li>
                                <li>Processes</li>
                                    <li>Services | Containers</li>
                                        <li>   Databases</li>
                                            <li>  Auto-scaling</li>
                                </ul>
                            </p>
                              </div>
                          </div><!--.Media-->
                    </div>
                </div><!-- /.Panel -->
            </a>
        </div><!--/.Grid-cell-->
        <div class="Grid-cell">
            <a class="u-linkClean" href="/maestro">
                <div class="Product">
                    <div class="Product-topBar Product-topBar--skycap"></div>
                    <div class="Product-body">
                        <div class="Media">
                            <img src="/images/ui/document.svg" class="Media-figure Product-image" width="40" alt="">
                            <div class="Media-body">
                                <h6 class="Product-title">Application Security</h6>
                                <p class="Product-text">
                                    Secure your application from attacks
                                    <ul>
                                    <li>SSL</li>
                                    <li>Application Private Networks</li>
                                    <li>Network firewall</li>
                                    <li>Web Application Firewall (WAF)</li>
                                    <li>ActiveProtect</li>
                                    <li>Service Accounts</li>
                                    </ul>
                                </p>
                          
                            </div>
                        </div><!--.Media-->
                    </div><!--./Product-body -->
                </div><!--/.Panel-->
            </a>
        </div><!--/.Grid-cell-->
        <div class="Grid-cell">
            <a class="u-linkClean" href="/maestro">
                <div class="Product">
                    <div class="Product-topBar Product-topBar--skycap"></div>
                    <div class="Product-body">
                        <div class="Media">
                            <img src="/images/ui/document.svg" class="Media-figure Product-image" width="40" alt="">
                            <div class="Media-body">
                                <h6 class="Product-title">Disaster recovery </h6>
                                <p class="Product-text">
                                    Recover from unexpected incidents
                                    <ul>
                                        <li>Managed database backups </li>
                                        <li>Failover Groups</li>
                                    <li>Processes</li>
                                        <li>Deployment Rollbacks</li>
                                            <li>   Cloning apps</li>
                                    </ul>
                                </p>
                          
                            </div>
                        </div><!--.Media-->
                    </div><!--./Product-body -->
                </div><!--/.Panel-->
            </a>
        </div><!--/.Grid-cell-->

    </div><!--/.Grid-->

</section>


