<section class="LandingContainer">

    <div class="LandingContent">
        <h2 class="LandingContent-title">
            Open Source Tools
        </h2>
    </div>

   <div class="Grid Grid--gutter Grid--full large-Grid--fit med-Grid--guttersXl">
        <div class="Grid-cell">
            <a class="u-linkClean" href="/habitus">
                <div class="Product">
                    <div class="Product-topBar Product-topBar--habitus"></div>
                    <div class="Product-body">
                          <div class="Media">
                              <img src="/images/ui/habitus_logo.svg" class="Media-figure Product-image" width="40" alt="">
                              <div class="Media-body">
                                  <h6 class="Product-title">Habitus</h6>
                                  <p class="Product-text">
                                      A Build Workflow tool for Docker
                                  </p>
                                  <span class="Button Button--outlined Button--blue">
                                      Habitus Docs
                                  </span>
                              </div>
                          </div><!--.Media-->
                    </div>
                </div><!-- /.Panel -->
            </a>
        </div><!--/.Grid-cell-->
        <div class="Grid-cell">
            <a class="u-linkClean" href="/copper">
                <div class="Product">
                    <div class="Product-topBar Product-topBar--copper"></div>
                    <div class="Product-body">
                          <div class="Media">
                              <img src="/images/ui/copper_logo.svg" class="Media-figure Product-image" width="40" alt="">
                              <div class="Media-body">
                                  <h6 class="Product-title">Copper</h6>
                                  <p class="Product-text">
                                      Configuration Validation for Kubernetes
                                  </p>
                                  <span class="Button Button--outlined Button--blue">
                                      Copper Docs
                                  </span>
                              </div>
                          </div><!--.Media-->
                    </div>
                </div><!-- /.Panel -->
            </a>
        </div><!--/.Grid-cell-->
    </div><!--/.Grid-->
    <div class="Grid Grid--gutter Grid--full large-Grid--fit med-Grid--guttersXl">
        <div class="Grid-cell">
            <a class="u-linkClean" href="/starter">
                <div class="Product">
                    <div class="Product-topBar Product-topBar--starter"></div>
                    <div class="Product-body">
                          <div class="Media">
                              <img src="/images/ui/starter_logo.svg" class="Media-figure Product-image" width="40" alt="">
                              <div class="Media-body">
                                  <h6 class="Product-title">Starter</h6>
                                  <p class="Product-text">
                                      An Application Containerization Tool
                                  </p>
                                  <span class="Button Button--outlined Button--blue">
                                      Starter Docs
                                  </span>
                              </div>
                          </div><!--.Media-->
                    </div>
                </div><!-- /.Panel -->
            </a>
        </div><!--/.Grid-cell-->
        <div class="Grid-cell">
            <a class="u-linkClean" href="/alterant">
                <div class="Product">
                    <div class="Product-topBar Product-topBar--alterant"></div>
                    <div class="Product-body">
                          <div class="Media">
                              <img src="/images/ui/alterant_logo.svg" class="Media-figure Product-image" width="40" alt="">
                              <div class="Media-body">
                                  <h6 class="Product-title">Alterant</h6>
                                  <p class="Product-text">
                                      Descriptive Configuration Modifier
                                  </p>
                                  <span class="Button Button--outlined Button--blue">
                                      Alterant Docs
                                  </span>
                              </div>
                          </div><!--.Media-->
                    </div>
                </div><!-- /.Panel -->
            </a>
        </div><!--/.Grid-cell-->
    </div><!--/Grid -->

    <div class="LandingContent LandingContent--spaced">
        <h2 class="LandingContent-title">
            Products
        </h2>
        <p class="LandingContent-text">
            <a href="/">
                Check out Cloud 66 Container &amp; Framework solutions
            </a>
        </p>
        <ul class="LandingContent-list">
            <li class="LandingContent-item link-icon-skycap">
                <a class="LandingContent-link" href="/skycap">
                    Skycap
                    <span class="LandingContent-xMuted">•</span>
                    <span class="LandingContent-muted">Complete Container Deployment Pipeline</span>
                </a>
            </li>
            <li class="LandingContent-item link-icon-meastro">
                <a class="LandingContent-link" href="/maestro">
                    Maestro
                    <span class="LandingContent-xMuted">•</span>
                    <span class="LandingContent-muted">Build, Manage &amp; Deploy your containerized Infrastructure</span>
                </a>
            </li>
            <li class="LandingContent-item link-icon-rails">
                <a class="LandingContent-link" href="/rails">
                    Rails
                    <span class="LandingContent-xMuted">•</span>
                    <span class="LandingContent-muted">Build, Deploy &amp; Maintain Rack Applications</span>
                </a>
            </li>
            <li class="LandingContent-item link-icon-node">
                <a class="LandingContent-link" href="/node">
                    Node
                    <span class="LandingContent-xMuted">•</span>
                    <span class="LandingContent-muted">Build &amp; Maintain node.js apps on any Server</span>
                </a>
            </li>
        </ul>
    </div>

</section>
