<div class="module-pri search-pri">
    <form id="js-home-search" class="container js-search-form" action="/help/search.json" method="get">
        <div class="search-pri-box">
            <input type="search" id="q" name="query" placeholder="Search for help" class="input-pri js-typeahead" role="search" autocomplete="off" autofocus>
            <button type="submit" class="btn-img">
                <img src="{{ site.url }}/images/ico_search.svg" alt="Search" width="24">
            </button>
        </div>
    </form>
</div>