<div class="header-nav-bar">
    <div class="container">
        <form action="/help/search.json" method="get" class="pull-left js-search-form">
            <input type="search" id="q-top" name="query" placeholder="Search for help" class="top-search js-typeahead" autocomplete="off">
        </form>

        <nav class="global-nav pull-right">
            <a href="http://www.cloud66.com/?utm_source=help&utm_medium=link&utm_content=top&utm_campaign=product">Back to Cloud 66</a><!--
         --><a href="http://stackoverflow.com/questions/tagged/cloud66" target="_blank">StackOverflow</a><!--
         --><a href="mailto:support@cloud66.com">Get Support</a>
        </nav>
    </div>
</div><!-- /.header-nav-bar -->