<header id="header" class="Header js_header">
    <a id="logo" class="Header-logo" href="/">
        <img src="/images/ui/logo.svg" alt="" width="18">
    </a>

    <ul id="nav" class="Header-nav">
        <li class="nav-dropdown-container">
            <span class="nav-link-title">Product Documentation</span>
        </li>
        <li class="nav-community">
            <a href="https://cloud66ers.slack.com" class="nav-link">Community</a>
        </li>
        <li class="nav-contact">
            <a href="http://app.cloud66.com/support_tickets/new" class="nav-link">Contact Support</a>
        </li>
    </ul>
</header>
