<header id="header" class="Header js_header">
    <a id="logo" class="Header-logo" href="/">
        <img src="/images/ui/logo.svg" alt="" width="18">
    </a>

    <ul id="nav" class="Header-nav">
        <li class="nav-dropdown-container">
            <a href="/" class="nav-link">Product Documentation</a><span class="arrow"></span>
            <ul class="nav-dropdown">
                <li>
                    <h4>Products</h4>
                </li>
                <li>
                    <ul>
                        <li><a href="/rails" class="nav-link">Rails Frameworks</a></li>
                        <li><a href="/node" class="nav-link">Node Frameworks</a></li>
                        <li><a href="/skycap" class="nav-link">Skycap</a></li>
                        <li><a href="/meastro" class="nav-link">Meastro</a></li>
                        <li><a href="/docker" class="nav-link">Docker</a></li>
                    </ul>
                </li>
          </ul>
        </li>
        <li class="nav-community">
            <a href="https://cloud66ers.slack.com" class="nav-link">Community</a>
        </li>
        <li class="nav-contact">
            <a href="http://app.cloud66.com/support_tickets/new" class="nav-link">Contact Support</a>
        </li>
    </ul>

    <form id="search-form" class="Header-search">
        <input type="text" id="search-query-nav" class="search" placeholder="Search Documentation">
    </form>
</header>
