/* SVG spinner
-------------------------------------------------------------------------------- */
body.loading {
    .is-loading {
        visibility: visible;
    }
    .article-toc, .article {
        opacity: 0.3;
    }
}

.is-loading   {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    background: transparent url('/images/spinner.svg') no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    @include animation( rotate 1.5s infinite steps(12) );
}


@keyframes "rotate" {
     from {
        @include transform( rotate(0deg) );
     }

     to {
         @include transform( rotate(360deg) );
     }
}

@-moz-keyframes rotate {
     from {
       -moz-transform: rotate(0deg);
            transform: rotate(0deg);
     }
     to {
       -moz-transform: rotate(360deg);
            transform: rotate(360deg);
     }
}

@-webkit-keyframes "rotate" {
     from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
     }
     to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
     }
}

@-ms-keyframes "rotate" {
     from {
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
     }
     to {
       -ms-transform: rotate(360deg);
           transform: rotate(360deg);
     }
}


.animated {
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
         -o-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.05); }
    100% { -webkit-transform: scale(1); }

    0% { background-color: rgba(255,246,0,0.2); }
    100% { background-color: rgba(255,255,255,1); }
}
@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }
    50% { -moz-transform: scale(1.05); }
    100% { -moz-transform: scale(1); }

    0% { background-color: rgba(255,246,0,0.2); }
    100% { background-color: rgba(255,255,255,1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.105); }
    100% { transform: scale(1); }

    0% { background-color: rgba(255,246,0,0.2); }
    100% { background-color: rgba(255,255,255,1); }
}

.animated.pulse {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
}

h2.target-h {
    -webkit-animation: target-fade 2s 1;
    -moz-animation: target-fade 2s 1;
    animation: target-fade 2s 1;
}

@-webkit-keyframes target-fade {
    0%   { background-color: rgba(0,0,0,.1); }
    100% { background-color: rgba(0,0,0,0); }
}
@-moz-keyframes target-fade {
    0%   { background-color: rgba(255,246,0,0.2); }
    100% { background-color: rgba(0,0,0,0); }
}
@keyframes target-fade {
    0%   { background-color: rgba(255,246,0,0.2); }
    100% { background-color: rgba(0,0,0,0); }
}
