
/* ==========================================================================
   DROPDOWN MENU
   ========================================================================== */
.dropdown {
  position: relative;
}

/* Main dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -14px;
  z-index: 1000;
  float: left;
  min-width: 220px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);

 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}


.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: 350;
  // line-height: 18px;
  color: #333333;
  white-space: nowrap;
  @include transition (none);
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  @include transition (none);
}

.typeahead.dropdown-menu .active > a,
.typeahead.dropdown-menu > li > a:hover,
.typeahead.dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background: #0088cc;
  background-repeat: repeat-x;
}

.typeahead.dropdown-menu .active > a strong {
  color: #fff !important;
  font-weight: bolder;
}

.open {
  z-index: 1000;
}

.open > .dropdown-menu {
  display: block;
}

