/* ===========================================================================================
 *  LAYOUT
 * ============================================================================================ */

/*
 *  Fixed Top Global Nav bar
 * --------------------------------------------------------- */
.header-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0.6em 0;
    background: $topbarbg;
    border-bottom: 1px solid #DBDBDB;

    nav {
      line-height: 1;
    }
}

/*
 *  Centered Container
 * --------------------------------------------------------- */
.container {
    @include clearfix;
    margin: 0 auto;
    max-width: $maxwidth;
}

body.home .container {
    max-width: $maxwidth;
}

/*
 *  2 column layout
 *  1024 and above 2 col layout
 * --------------------------------------------------------- */
@media only screen and (min-width : 1024px) {

    .two-col {

        .content-pri {
            float: left;
            width: $maxwidth - $sidebarwidth;
        }

        .content-sec {
            float: right;
            width: $sidebarwidth;

            .side-module:first-child {
              margin-top: 0 !important;
            }
        }

        .sticky-nav {
            position: sticky;
            top: 80px;
        }

        .side-module {
            border: 1px solid #EAF9FF;
            background: #F9FDFF;
            box-shadow: inset 0 0 10px #EFFBFF;
            padding: 12px;
        }
    }


  .multi-col {
      -moz-column-count: 2;
      -moz-column-gap: 20px;

      -webkit-column-count: 2;
      -webkit-column-gap: 20px;

      column-count: 2;
      column-gap: 20px;
  }

}

.one-col {
    .content-sec {
        display: none !important;
    }
}


.nav-footer {
    // width: $maxwidth - $sidebarwidth;
}

/*
 *  Top margin to account for fixed position nav bar
 * --------------------------------------------------------- */
[role="banner"],
.crumbs {
  margin-top: 4.6em;
}
.crumbs.crumbs-bottom {
  margin-top: 0;
}

/*
 *  Logo
 * --------------------------------------------------------- */
 [role="banner"] a:hover { text-decoration: none; }
.logo {
  width: 60px;
}
.logo-sml {
  position: relative;
  top: -12px;
  right: 3px;
}

/*
 *  Home Primary Search
 * --------------------------------------------------------- */
.search-pri {
  margin-top: $gutter;
  background: #FCFCFC;
  padding: 2em 0;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  text-align: center;
}

.article-toc {
    margin-bottom: 2.2em;
}
.article {
   margin-bottom: 1.2em;
}

/*
 *  Footer
 * --------------------------------------------------------- */
[role="contentinfo"] {
  padding: 1em 0;
  border-top: 1px solid #DBDBDB;
}





