/* ===========================================================================================
 *  LINKS
 * ============================================================================================ */

a {
    @include transition( color, 0.65s, ease );
    color: #0088cc;
    text-decoration: none;
}
a:hover {
    color: #005580;
    text-decoration: underline;
}

.cta:hover {
    text-decoration: none !important;
}

.button-home {
  display: block;
  text-align: center;
  background: #42a138;
  padding: 0.7em;
  color: #f0f0f0;
  border-radius: 2px;
}

.button-home:hover {
  background: #2b792a;
  color: white;
  text-decoration: none
}