/* ===========================================================================================
 *  NAV
 * ============================================================================================ */

/*
 *  homepage nav
 * --------------------------------------------------------- */
.heros {

    margin-top: 48px;

    a {
        width: 8.5em;
        display: inline-block;
        margin-right: 1.4em;
        outline: none;

        &:hover {
            text-decoration: none;
        }

        &:last-child {
            margin-right: 0;
        }

        i {
            font-size: 3rem;
            color: #246EBB;
        }

        .hero-title {
            margin: 0;
            line-height: 1.6;
            font-weight: 400;
            font-size: 1.5rem;
        }
    }
}


nav {
  ul {
    list-style: none;
    padding-left: 0;
  }
}


.global-nav {
    display: inline-block;
    margin-top: 7px;
    font-size: 1.3rem !important;
    > a {
        display: inline-block;
        line-height: 1;
        padding: 0 0.66em;
        border-right: 1px solid #bbb;
    }
    :first-child {
        padding-left: 0;
    }
    :only-child,
    :last-child {
        border-right: none;
        padding-right: 0;
    }
}

/*
 *  side nav (nav-sec)
 * --------------------------------------------------------- */
.nav-sec {
    padding: 0 !important;
    margin-bottom: 0 !important;

    li {
        list-style: none  !important;
        font-size: 13px   !important;
        line-height: 1.3  !important;
        margin-bottom: 0.4em;
    }

    a {
        display: block;
        padding: 4px;
    }

    a:hover {
        text-decoration: none;
    }

    .active {
        a {
            color: #3F4957 !important;
            cursor: default;
            font-weight: 600 !important;
        }
    }
}

/*
 *  toc nav
 * --------------------------------------------------------- */
.toc {
    a:link {
        text-decoration: none;
        font-size: 1.5rem;
        color: #0088cc;
    }

    a:visited {
        color: #6830BB;
    }

    a:hover {
        color: #005580;
    }

    a:focus {
        background: #FFFFCC;
    }

    a:active {
        color: #CC0000;
    }
}

/*
 *  breadcrumb nav
 * --------------------------------------------------------- */
.crumbs {
    border-bottom: 1px solid #ddd;
    padding: 0.2em 0 1em;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    a {
        position:relative;
        left: -17px;
        font-size: 1.3rem;
        line-height: 1;
    }
    a:hover {
        text-decoration: none;
    }
}
.crumbs-bottom {
    padding-top: 1em;
    border-top: 1px dotted #ddd;
    border-bottom: none;
}

.paging-nav {
    a {
        display: inline-block;
        border-right: 1px solid #ddd;

        &:first-child {
            padding-right: 8px;
        }

        &:last-child,
        &:only-child {
            border: none;
        }
    }

}

.back-ico {
    display: inline-block;
    line-height: 1;
    width: 11.5px;
    height: 11.5px;
    background: url('/images/ico_back.svg');
    background-size: contain;
    position: relative;
    top: 1px;
}

.forward-ico {
    display: inline-block;
    // line-height: 1;
    width: 11.5px;
    height: 11.5px;
    background: url('/images/ico_back.svg');
    background-size: contain;
    // position: relative;
    // top: 1px;

    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}