/* ==========================================================================
   TABLES
   ========================================================================== */

.table {
    width: 100%;
    margin: 1.2em 0 1.4em 0;
    border-top: 1px solid #ccc;

    .table-img-required {
      margin: 8px 8px 0 4px;
      float: right;
    }

    thead {
        border-bottom: 1px solid #ccc;
        background: #FCFCFC;

        th {
            text-align: left;
        }
    }

    th, td {
        vertical-align: top;
        padding: 8px 4px;
        color: #555;
    }

    tbody th,
    tbody td {
        font-size: 1.5rem;
        border-bottom: 1px dotted #ddd;
    }

    tr:nth-child(even) {
        background: #FCFCFC;
    }

    tbody tr:last-child td {
        border-bottom: 1px solid #ccc;
    }
}

th.num,
.num {
	text-align: right !important;
}

.table-small
{
  thead th,
  tbody th,
  tbody td {
    font-size: 1.4rem;
  }
}
