/* ===========================================================================================
 *  TYPE
 * ============================================================================================ */

/*
 *  Headings
 * --------------------------------------------------------- */
.title {
    margin: 0.25em 0 0 0;
    font-size: 3rem;
    font-weight: 200;
    text-transform: capitalize;
    word-spacing: 0.05em;
    color: #254E94;

    em {
        font-style: normal;
        font-weight: 350;
    }
}

.cat-title-caps {
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.cat-title {
    text-transform: capitalize;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.article-title {
    color: #3f4957;
}

h1  { font-size: 3rem; }
h2  { font-size: 2.2rem; }
h3  { font-size: 1.8rem; }
h4  { font-size: 1.5rem; }

.side-title {
    font-size: 1.5rem;
    line-height: 1;
    margin: 0 0 0.6em 0 !important;
    padding-bottom: 0.6em;
    padding-left: 4px;
    text-transform: capitalize;
    border-bottom: 1px dotted #ddd;
    border-bottom: 1px solid #DEE9ED;
    color: #3F4957;
}

/*
 *  Lists
 * --------------------------------------------------------- */
ol, ul {
 margin: 0;
 padding: 0;
}

dl, dd {
  margin:0;
}

/*
 *  Articles
 * --------------------------------------------------------- */

/* inline toc links for articles */
.page-toc {
    list-style: none;
    margin-left: 0 !important;
    padding: 0 0 1em 0 !important;

    border-bottom: 1px solid #E0E0E0;

    li {
        margin: 0.35em 0 !important;
        list-style: none;

        > ul {
            margin-bottom: 0;

            li {
                font-size: 1.4rem;
            }
        }
    }
    a {
      text-decoration: none;
      font-size: 1.6rem;
    }

}

/* base type for articles */
.content-pri > p:first-child {
    margin-top: 0 !important;
}
.article {

    .lead {
        font-size: 3.1rem;
        line-height: 36px;
        color: #999;
        font-weight: 200;
        padding-bottom: 0.8em;
        border-bottom: 1px solid #ddd;
        padding-right: 0 !important;
    }
    .lead:empty {
        display: none;
    }
    .weighted {
        color: #3F4957;
        font-size: 1.8rem;
        margin-bottom: 26px;
    }
    h2:first-child {
        margin-top: 0 !important;
        line-height: 1 !important;
    }
    p {
        font-size: 1.7rem;
        padding-right: 1.2em;
    }
    ul, ol {
      margin-bottom: 1.6em;
    }

    ul {
        padding: 0 1em;
    }

    ol {
         padding: 0 1.2em;
        li {
            margin-bottom: 0.8em;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    em, strong {
        color: #3F4957;
    }
    .highlighted {
        background: #FFFFCC;
        padding: 2px 3px;
        color: #000;
    }
}

.notice {
    h3 {
        color: #3F4957;
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    p {
        font-size: 1.6rem;
        color: #3F4957;
    }
}

.search-results {
    margin-top: 1.2em;
    padding-left: 0 !important;
    list-style: none;

    h2 {
        line-height: 1;
    }
    li {
        border-bottom: 1px dotted #ddd;
        margin-bottom: 1.3em;
    }
    li:last-child, li:only-child {
        border: none;
    }
}

.side-module {
    margin-top: 18px;
    font-size: 1.2rem;

    p {
        font-size: 1.3rem;
        line-height: 1.5 !important;
        padding: 0 4px;
    }

    a:hover {
        text-decoration: underline;
    }
}

/*
 *  Elements
 * --------------------------------------------------------- */

hr {
    clear: both;
    height: 0 !important;
    border: solid #E5E5E5;
    border-width: 1px 0 0;
}

/*
 *  Helper Classes
 * --------------------------------------------------------- */
.muted {
    color: #999;
}
.small-print {
    font-size: 1.4rem !important;
}
.error {
    background: #F9F2F4;
    color: #B94A48 !important;
}
