/* ===========================================================================================
 *
 *  C66 Help Pages v. 09 2013
 *
 * ============================================================================================ */

/* ===========================================================================================
 *  CONFIG VARS
 * ============================================================================================ */

$bodycolor  : rgb(255,255,255);
$textcolor  : #666;
$topbarbg   : rgba( 246, 246, 246, 0.9 );

$fontfamily : "Helvetica Neue", Helvetica, sans-serif;
$base-font-size:    1.7rem; /* =17px */
$base-line-height:  24px;

$maxwidth	   : 800px;
$sidebarwidth  : 190px;
$articlewidth  : 760px;
$gutter        : 26px;