<!-- usedin: [ _legacy_docker/Databases/backup-verifiers.md, _maestro/Databases/backup-verifiers.md, _node/Databases/backup-verifiers.md, _rails/databases/backup-verifiers.md] -->


## View backup verification status

To see your backup verification status, visit your stack detail page, and click the link to your managed backup page. A successfully verified backup will display a green tick, and a failure during verification will result in a red cross - clicking on the red cross will show the error message.

