---
menuheaders: [ "What is two-step verification? ", "Enable two-step verification", "Add a recovery phone number" ]
layout: post
template: one-col
title: Two-step Verification
categories: account-management
lead: ""
legacy: false

permalink: /:collection/:path
---



## What is two-step verification? 

Two-step verification adds an extra layer of security to your Cloud 66 account, drastically reducing the chances of having the personal information in your account stolen. To break into an account with two-step verification, bad guys would not only have to know your username and password, they'd also have to get a hold of your phone.

## Enable two-step verification

To enable two-step verification on your Cloud 66 account, start by visiting your _Account_ page. Next, click _Enable 2-step verification_ to install Google Authenticator on your phone and scan your barcode.

## Add a recovery phone number

We strongly suggest that you add your phone number on the _Account_ page to recover your account should you at some point not be able to access your verification codes on your phone.

If you haven't added your phone number and are locked out, please [contact support](mailto:support@cloud66.com) from the email address you are registered with and we'll take you through a security procedure.

