---
menuheaders: [ "What is two-step verification? ", "Enable two-step verification", "Add a recovery phone number" ]
gitlinks: [ "https://github.com/cloud66/help/edit/feature/inlines/_includes/_inlines/Account/General/two-step-verification/two-step-verification_what-is-two-step-verification-v1.md", "https://github.com/cloud66/help/edit/feature/inlines/_includes/_inlines/Account/General/two-step-verification/two-step-verification_enable-two-step-verification-v1.md", "https://github.com/cloud66/help/edit/feature/inlines/_includes/_inlines/Account/General/two-step-verification/two-step-verification_add-a-recovery-phone-number-v1.md" ]
layout: post
template: one-col
title: Two-step Verification
categories: Account
lead: ""
legacy: false

keywords: []
permalink: /:collection/:path
---



<a name="1"></a>{% include _inlines/Account/General/two-step-verification/two-step-verification_what-is-two-step-verification-v1.md  product = page.collection %}
<a name="2"></a>{% include _inlines/Account/General/two-step-verification/two-step-verification_enable-two-step-verification-v1.md  product = page.collection %}
<a name="3"></a>{% include _inlines/Account/General/two-step-verification/two-step-verification_add-a-recovery-phone-number-v1.md  product = page.collection %}