---
menuheaders: [ "What is two-step verification? ", "Enable two-step verification", "Add a recovery phone number" ]
gitlinks: [ "https://github.com/cloud66/help/edit/feature/inlines/_includes/_inlines/Account/General/two-step-verification/two-step-verification_what-is-two-step-verification.md", "https://github.com/cloud66/help/edit/feature/inlines/_includes/_inlines/Account/General/two-step-verification/two-step-verification_enable-two-step-verification.md", "https://github.com/cloud66/help/edit/feature/inlines/_includes/_inlines/Account/General/two-step-verification/two-step-verification_add-a-recovery-phone-number.md" ]
layout: post
template: one-col
title: Two-step Verification
categories: Account
lead: ""
legacy: false

---

{% assign urlArr = page.url | split: '/' %}
{% assign product = urlArr[1] %}

<a name="1"></a>{% include _inlines/Account/General/two-step-verification/two-step-verification_what-is-two-step-verification.md  product = product %}
<a name="2"></a>{% include _inlines/Account/General/two-step-verification/two-step-verification_enable-two-step-verification.md  product = product %}
<a name="3"></a>{% include _inlines/Account/General/two-step-verification/two-step-verification_add-a-recovery-phone-number.md  product = product %}