---
menuheaders: [ "What is two-step verification? ", "Enable two-step verification", "Add a recovery phone number" ]
layout: post
template: one-col
title: Two-step Verification
categories: Account
lead: ""
legacy: false

permalink: /:collection/:path
---




<a href="#what-is-two-step-verification"></a>{% include _inlines/Account/General/two-step-verification/two-step-verification_what-is-two-step-verification-v1.md  product = page.collection %}
<a href="#enable-two-step-verification"></a>{% include _inlines/Account/General/two-step-verification/two-step-verification_enable-two-step-verification-v1.md  product = page.collection %}
<a href="#add-a-recovery-phone-number"></a>{% include _inlines/Account/General/two-step-verification/two-step-verification_add-a-recovery-phone-number-v1.md  product = page.collection %}