---
layout: post
template: one-col
title: Two-step Verification
categories: Account
lead: ""
legacy: false

---
{% assign product = "General" %}

{% include _inlines/Account/General/two-step-verification/two-step-verification_what-is-two-step-verification.md %}
{% include _inlines/Account/General/two-step-verification/two-step-verification_enable-two-step-verification.md %}
{% include _inlines/Account/General/two-step-verification/two-step-verification_add-a-recovery-phone-number.md %}
