---
layout: post
template: one-col
title: What is Two-step Verification?
categories: references/accounts
lead: ""
legacy: true
tags: ["account", "security"]
permalink: /:collection/:path
---

## Notice
<div class="notice notice-warning"><p>This documentation set has been merged with the <a href="/maestro/">Maestro Version 2</a> documentation and is officially deprecated. These pages will be redirected to their equivalents in that doc set within the next few weeks.</p></div>

{%include references/account/two-step-verification.md %}
