<!-- usedin: [ _general/account/two-step-verification.md] -->

## What is two-step verification? 

Two-step verification adds an extra layer of security to your Cloud 66 account, drastically reducing the chances of having the personal information in your account stolen. To break into an account with two-step verification, bad guys would not only have to know your username and password, they'd also have to get a hold of your phone.

