<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Cloud 66 Documentation • {{ page.title }}
    </title>

    <meta charset="utf-8">
    <meta name="description" content="Cloud 66 - Documentation">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Open Graph -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Cloud 66 Documentation">
    <meta property="og:description" content="Guides, Tutorials and Documentation for Cloud 66 Products">
    <meta property="og:image" content="/images/ui/logo.svg">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Cloud 66 Documentation">
    <meta name="twitter:description" content="Guides, Tutorials and Documentation for Cloud 66 Products">
    <meta name="twitter:image" content="/images/ui/logo.svg">

    <link rel="icon" href="/images/ui/favicon.ico" type="image/png">
    {% include styles.html %}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.4.1/dist/instantsearch.min.css">
    {% include head_scripts.html %}
</head>
<body class="Body Body--home">

        {% include top_nav_bar.html %}

        <main id="main">
            <section class="LandingSearch LandingContainer">
                {% include search_bar.html %}
            </section>

	        {% assign show_search_reults = false %}

            <div class="Landing">
                {% if show_search_reults == true %}
                    {% include search_results.html %}
                {% else %}
                    {{ content }}
                {% endif %}
            </div>
        </main>
        {% include body_scripts.html %}
        {% include footer.html %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="/js/home.js"></script>
</body>
</html>
