<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cloud 66 Documentation</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25691976-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-25691976-6');
    </script>

    <meta charset="utf-8">
    <meta name="description" content="Cloud 66 - Documentation">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Open Graph -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Cloud 66 Documentation">
    <meta property="og:description" content="Guides, Tutorials and Documentation for Cloud 66 Products">
    <meta property="og:image" content="/images/ui/logo.svg">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Cloud 66 Documentation">
    <meta name="twitter:description" content="Guides, Tutorials and Documentation for Cloud 66 Products">
    <meta name="twitter:image" content="/images/ui/logo.svg">

    <link rel="icon" href="/images/ui/favicon.ico" type="image/png">
    {% include styles.html %}
    <link rel="stylesheet" href="/css/searchResults.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/handlebars.js"></script>
    <script type="text/javascript" src="js/google_custom_search.js"></script>

</head>

<body class="Body Body--home">


{% include top_nav_bar.html %}

<main id="main">
    <!-- Search bar. -->
    <section class="LandingContainer">
        {% include search_bar.html %}
    </section>

    <!-- Container for the search results, filled in with JavaScript -->
    <div id="hits" class="Landing">
        <section class="LandingContainer" id="js_search_results_container">
            <p id="js_search_title">You searched for <strong class="SearchResults-title"></strong></p>
            <div id="js_search_results_list">
                <ul class="SearchResults">
                    <li>
                        <p>
                            <span class="is-loading"></span> Getting Search Results&hellip;
                        </p>
                    </li>
                </ul>
            </div>
            <div id="js_search_results_paging">
            </div>
        </section>
    </div>

</main>

{% include footer.html %}
<script>
    function escapeHtml(unsafe) {
        return unsafe
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;");
    }

    // q
    var url_string = window.location.href;
    var url = new URL(url_string);
    var q = url.searchParams.get("q");
    // escape the content
    q = escapeHtml(q);

    // search
    var key = "AIzaSyBKWduLZEHa_qmlnVlpd2JzSdLDDoY5uD4";
    var cx = "005542367771770094844:wfitaj44ofm"; // custom search engine id
    var script = document.createElement('script');


    script.src = "https://www.googleapis.com/customsearch/v1/siterestrict?key=" + key + "&cx=" + cx + "&callback=C66.HelpSearch.init&q=" + q;
    document.getElementsByTagName('script')[0].parentNode.appendChild(script);
</script>
</body>

</html>
