<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Cloud 66 Documentation</title>


		<meta charset="utf-8">
		<meta name="description" content="Cloud 66 - Documentation">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<!-- Open Graph -->
		<meta property="og:type" content="article">
		<meta property="og:title" content="Cloud 66 Documentation">
		<meta property="og:description" content="Guides, Tutorials and Documentation for Cloud 66 Products">
		<meta property="og:image" content="/images/ui/logo.svg">

		<!-- Twitter Cards -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="Cloud 66 Documentation">
		<meta name="twitter:description" content="Guides, Tutorials and Documentation for Cloud 66 Products">
		<meta name="twitter:image" content="/images/ui/logo.svg">

		<link rel="icon" href="/images/ui/favicon.ico" type="image/png">
		{% include styles.html %}
		<link rel="stylesheet" href="/css/searchResults.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		 crossorigin="anonymous"></script>
		<script type="text/javascript" src="js/handlebars.js"></script>
		<script type="text/javascript" src="js/google_custom_search.js"></script>
	</head>

	<body class="Body Body--home">


		{% include top_nav_bar.html %}

		<main id="main">
			<!-- Search bar. -->
			<section class="LandingContainer">
				{% include search_bar.html %}
			</section>

			<!-- Container for the search results, filled in with JavaScript -->
			<div id="hits" class="Landing">
				<section class="LandingContainer content" id="js_search_results_container">
					<p id="js_search_title">You searched for <strong class="SearchResults-title"></strong></p>
					<ul class="SearchResults" id="js_search_results_list">
						<li>
							<p>
								<div class="is-loading"></div> Getting Search Results&hellip;
							</p>
						</li>
					</ul>
				</section>
			</div>

		</main>

		{% include footer.html %}
		<script>
			// q
			var url_string = window.location.href;
			var url = new URL(url_string);
			var q = url.searchParams.get("q");
			// search
			var script = document.createElement('script');
			script.src = "https://www.googleapis.com/customsearch/v1/siterestrict?key=AIzaSyA3SJS6Ihqmwkn2az-xYFci3dKly048P4I&cx=007675478108651468565:im1lav30l2u&callback=C66.HelpSearch.init&q=" + q;
			document.getElementsByTagName('script')[0].parentNode.appendChild(script);
		</script>
	</body>

</html>
